@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

/* Global Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	--header1: 4rem;
	--header2: 3.5rem;
	--header3: 2.5rem;
	--header4: 2rem;
	--text: 2rem;
}

body {
	background-color: #7f9172;
	font-family: 'Baloo Paaji 2', cursive;
}

h1 {
	font-size: var(--header1);
}

li,
p {
	font-size: var(--text);
}

h2 {
	font-size: var(--header2);
}

h3 {
	font-size: var(--header3);
}

h4,
h5 {
	font-size: var(--header4);
}

.container {
	width: 80%;
	margin: 0 auto;
}

nav {
	min-height: 10vh;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search {
	width: 50%;
	margin: 1rem auto;
	position: relative;
	display: flex;
}

.searchTerm {
	width: 100%;
	border: 3px solid #222831;
	padding: 1.5rem;
	height: 2rem;
	border-radius: 5px;
	outline: none;
	color: black;
	font-size: 2rem;
	text-align: center;
}

ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	text-align: center;
	gap: 1rem;
}

li {
	padding: 2rem;
	background-color: #222831;
	color: white;
	box-shadow: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
}

.character img {
	max-width: 20rem;
	max-height: 20rem;
}
